#nav_du_haut {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 12px;
}

.nav_du_bas {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 12px;
    background-color: #eceff4;
    color: #4c566a;
    border: solid #e5e9f0 thin;
}

.left, .right {
    flex: 1;
}

.right {
    text-align: right;
}

.élément {
    font-size: 15px;
    padding: 10px;
}

.élément_bas {
    font-size: 13px;
    padding: 5px;
    display: inline-block;
}

.button_navbar {
    background-color: royalblue;
    font-size: 14px;
    padding: 5px 7px;
    color: white;
    border: none;
}

section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    padding: 12px;
}

.button_search {
    padding: 5px 7px;
}

.border-flex {
    border: 2px solid red;
}